name: Publish

on:
  push:
    branches:
      - master
      - next

  workflow_dispatch:



jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - uses: bahmutov/npm-install@v1
      - run: npx npm-install-peers
      - run: npm run rollup
      - run: npm run test

  release:
    name: release
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - uses: bahmutov/npm-install@v1
      - run: npx npm-install-peers
      - run: npm run rollup
      - run: npm run types
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
