name: Test

on:
  push:
    branches:
      - '/refs/master/*'
      - '!master'
      - '!next'

  pull_request:
    types:
      - opened
      - synchronize

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - uses: bahmutov/npm-install@v1
      - run: npx npm-install-peers
      - run: npm run rollup
      - run: npm run test
